

h1{
  align-content: center;
  justify-content: center;
}
  table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background: #ca1a1a;
    color: white;
  }
  
  tr:nth-child(even) {
    background: #f9f9f9;
  }
  
  button {
    background-color: #ca1a1a; 
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }